<div class="grid-container">
  <div class="size-display" *ngIf="rectangleSize">
    {{rectangleSize.width}}x{{rectangleSize.height}}
  </div>
  <div class="grid">
    <div class="row" *ngFor="let row of cells">
      <div class="cell"
           *ngFor="let cell of row"
           [class.marked]="cell.isMarked"
           (click)="onCellClick(cell)"
           (contextmenu)="onRightClick($event, cell)"
           [matMenuTriggerFor]="menu"
            >
        {{cell.value}}
      </div>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Multiply by scale</button>
  <button mat-menu-item>Transpose</button>
  <button mat-menu-item>Inverse</button>
</mat-menu>
